<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>

    <h3>Individual Graph Donotdelete</h3>
    <img src="\static\individual_graph_DONOTDELETE.png" alt="individual_graph_DONOTDELETE graph">
    

    <h3>Individual Graph Justin</h3>
    <img src="\static\individual_graph_JUSTIN.png" alt="individual_graph_JUSTIN graph">
    

    <h3>Individual Graph Device88</h3>
    <img src="\static\individual_graph_device88.png" alt="individual_graph_device88 graph">
    

    <h3>Total Graph</h3>
    <img src="\static\total_graph.png" alt="total_graph graph">
    
</body>
</html>